asyncio
backtesting
coverage
finta
flask
Flask-Cache
flask-login
flask-script
flask-socketio
flask-views
jinja2
markupsafe
matplotlib
mplfinance
numpy
okx
pandas
pandas-datareader
pandas-ta
plotly
pydantic
python-dotenv
pytz
scikit-learn
seaborn
ta
TA_Lib
werkzeug
yfinance